[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "third_party/units"]
	path = third_party/units
	url = https://github.com/nholthaus/units
[submodule "third_party/Parser-SPEF"]
	path = third_party/Parser-SPEF
	url = https://github.com/oliverbunting/Parser-SPEF
[submodule "third_party/taskflow"]
	path = third_party/taskflow
	url = https://github.com/taskflow/taskflow
