# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled python modules
/*.pyc

# Executables
*.exe
*.out
*.app

# Build items
/ot/config.hpp
/build
/example/incremental/incremental
/example/optimizer/optimizer
/example/simple/simple
/example/sizer/sizer
/example/unit/unit
/unittest/path
/unittest/utility
/bin

# Unittest artifacts
*.output
